svg {
    overflow: visible;
}

.fadeout {
    opacity: .2;

    -webkit-animation: fadeout 3000ms;
    -moz-animation: fadeout 3000ms;
    -ms-animation: fadeout 3000ms;
    -o-animation: fadeout 3000ms;
    animation: fadeout 3000ms;
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: .2;
    }
}

@-moz-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: .2;
    }
}

@-webkit-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: .2;
    }
}

@-ms-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: .2;
    }
}

@-o-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: .2;
    }
}
